<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jukebox.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Jukebox.My.MySettings>
            <setting name="top1" serializeAs="String">
                <value />
            </setting>
            <setting name="top2" serializeAs="String">
                <value />
            </setting>
            <setting name="top3" serializeAs="String">
                <value />
            </setting>
            <setting name="top4" serializeAs="String">
                <value />
            </setting>
            <setting name="top5" serializeAs="String">
                <value />
            </setting>
            <setting name="top6" serializeAs="String">
                <value />
            </setting>
            <setting name="top7" serializeAs="String">
                <value />
            </setting>
            <setting name="top8" serializeAs="String">
                <value />
            </setting>
            <setting name="top9" serializeAs="String">
                <value />
            </setting>
            <setting name="top10" serializeAs="String">
                <value />
            </setting>
            <setting name="top11" serializeAs="String">
                <value />
            </setting>
            <setting name="top12" serializeAs="String">
                <value />
            </setting>
            <setting name="top13" serializeAs="String">
                <value />
            </setting>
            <setting name="top14" serializeAs="String">
                <value />
            </setting>
            <setting name="top15" serializeAs="String">
                <value />
            </setting>
            <setting name="top16" serializeAs="String">
                <value />
            </setting>
            <setting name="First_time" serializeAs="String">
                <value />
            </setting>
            <setting name="mp3text" serializeAs="String">
                <value />
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="cursor" serializeAs="String">
                <value>0</value>
            </setting>
        </Jukebox.My.MySettings>
    </userSettings>
</configuration>
